body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}

img {
    width: 100%;
}

section {
    display: flex;
}

.hero {
    width: 50%;
    padding-left: 10%;
}

.hero-hading {
    color: #ffa500;
    padding: 20px 0;
}

.btn {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.hero-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}