body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}

img {
    width: 100%;
}

section {
    margin-bottom: 100px;
}

.flex {
    display: flex;
}

.hero {
    width: 50%;
    padding-left: 10%;
}

.hero-hading {
    color: #ffa500;
    padding: 20px 0;
}

.btn {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.hero-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big-hero {
    padding-right: 15%;
}

.expreience-area {
    background-image: url(images/exp-bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}

.left {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

.right {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}

.end-h {
    color: #ffa500;
}

.end {
    box-shadow: 5px 7px 40px grey;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

footer p {
    text-align: center;
}